@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.body{
    background-color: #1D1D35;
    /* display: flex; */
    /* flex-direction: column;
    align-items: center; */
}

.header{
    border: 1px solid white;
    /* border: 1px solid black; */
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #00649E;
}

.header_div{
    margin-left: 40px;
    width: 200px;
    font-size: 40px;
    font-family: 'Concert One', cursive;
    color: #1BC28D;
    box-shadow: 0px 0px 3px 1px white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.header__nav{
    padding: 10px;
    padding-right: 40px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Concert One', cursive;
    color: white;

}

.section{
    height: 100vh;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__article{
    /* border: 1px solid white; */
    height: 100px;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 60px;
    color: white;
    font-size: 25px;
    font-family: 'RocknRoll One', sans-serif;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px white;
    background-color: #00649E;
}

.section__article__1{
    color: #1BC28D;
    font-size: 50px;
    font-family: 'RocknRoll One', sans-serif;
    
}


.section__precios{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.section__article__precios{
    border: 1px solid white;
    height: 350px;
    width: 250px;
    box-shadow: 0px 0px 5px 1px white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'RocknRoll One', sans-serif;
    color: #1BC28D;
    
    padding-top: 10px;
    font-size: 40px;
    padding: 10px;
    background-color: #00649E;

}

.section__article__div__precios{
    font-size: 18px;
    color: white;
    text-align: center;
    /* flex-direction: row;
    margin: 30px; */

}

.section__article__div__precios1{
    font-size: 18px;
    color: white;
    border-radius: 5px;
    background-color: #1BC28D;
    margin-bottom: 5px;
    padding: 10px;
}


.nav__contacto{
    justify-content: center;
    align-content: center;
}

.section__contacto{
    height: 500px;
    width: 450px;
    box-shadow: 0px 0px 5px 1px white;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-left: 560px;
}

.section__article__contacto{
    height: 100px;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    font-size: 35px;
    background-color: #00649E
}
.section__article__div__comntacto{
    font-size: 20px;
    border: 1px solid black;
    width: 170px;
    height: 35px;
    border-radius: 10px;
    padding: 5px;
    color: black;
    background-color: white;
}

.section__article__div__comntacto1{
    height: 100px;
    border: 1px solid white;
    padding: 5px;
    color: black;
    background-color: white;
    font-size: 20px;
    padding: 5px;
}

.section__article__div__comntacto2{
    font-size: 20px;
    border: 1px solid black;
    width: 170px;
    height: 35px;
    border-radius: 10px;
    padding: 5px;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}